
*{
    margin: 0;
    padding: 0;
}
body {

    font-family: Arial, sans-serif;
    height: 1000px;
    width: 1880px;
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e6b3cc;
    padding: 10px;
    height: 5%;
    width: 100%;
  }
  
  .top button {
    margin: 0;
    font-size: 36px;
    color: #fff;
    border: none;
    background-color: #e6b3cc;
    cursor: pointer;
  }
  .top img {
    width: 50px;
  }  
  .mid {
    text-align: center;
    margin-top: 50px;
    height: 70%;
    width: 100%;
    background-image: url('https://64.media.tumblr.com/60d2eaf993e3531b2cbda26e29b2d733/tumblr_or0r501X2A1vzb9lto1_1280.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .mid h2 {
    font-size: 50px;
    color: white;
    -webkit-text-stroke: 2px #c4a1b2;
}
  
  .mid button {
    background-color: #cea0b6;
    border: none;
    color: #fff;
    font-size: 50px;
    border-radius: 5px;
    cursor: pointer;
  }  
  .bottom {
    background-color: #fff;
    padding: 50px;
    text-align: center;
    height: 5%;
    width: 100%;
  }
  .bottom h1 {
    font-size: 30px;
    margin: 0;
  }
  
  .bottom h2 {
    font-size: 20px;
    margin: 0;
  }
  
  .bottom h3 {
    font-size: 18px;
    margin: 0;
    color: #666;
  }