* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  height: 1000px;
  width: 1880px;
}

.signup,
.login,
.forgot {
  text-align: center;
  margin-top: 50px;
  height: 70%;
  width: 100%;
  background-color: #e6b3cc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup p,
.login p,
.forgot p {
  font-size: 20px;
  color: white;
  margin-top: 10px;
}

.signup input,
.login input,
.forgot input {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.signup button,
.login button,
.forgot button {
  background-color: #cea0b6;
  border: none;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px 20px;
}

.signup button:hover,
.login button:hover,
.forgot button:hover {
  background-color: #e6b3cc;
}

.forgot {
  margin-top: 20px;
}

.forgot p#sQ {
  margin-top: 20px;
  color: #fff;
}

.forgot input#sA {
  margin-top: 5px;
}

.bottom {
  background-color: #fff;
  padding: 50px;
  text-align: center;
  height: 5%;
  width: 100%;
}

.bottom h1 {
  font-size: 30px;
  margin: 0;
}

.bottom h2 {
  font-size: 20px;
  margin: 0;
}

.bottom h3 {
  font-size: 18px;
  margin: 0;
  color: #666;
}
.tab {
  overflow: hidden;
  border: 1px solid #e6b3cc;
  background-color: #e6b3cc;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #be96a7;
}

.tab button.active {
  background-color: #c99ab1;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #e6b3cc;
  border-top: none;
}