body {
    margin: 0;
    padding: 0;
    background-color: #e6b3cc;
    font-family: Arial, sans-serif;
    height: 1000px;
    width: 1880px;
  }
  
  .top {
    background-color: #f2f2f2;
    text-align: center;
    height: 10%;
  }
  h1 {
    margin: 0;
    font-size: 36px;
    color: #333;
  }
  
  .mid {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    font-size: 16px;
  }
  
  input[type="button"] {
    background-color: #d8a7c4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="button"]:hover {
    background-color: #ce9fc4;
  }
  
  #message {
    color: #f00;
    font-weight: bold;
    text-align: center;
  }
  
  .bottom {
    background-color: #f2f2f2;
    text-align: center;
    height: 15%;
  }
  
  h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
  }
  
  h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
  h4 {
    margin: 0;
    font-size: 16px;
    color: #333;
  }
  