body {
    margin: 0;
    padding: 0;
    background-color: #e6b3cc;
    font-family: Arial, sans-serif;
    height: 1000px;
    width: 1880px;
  }

.top {
    background-color: #f2f2f2;
    text-align: center;
    height: 10%;
  }

.mid {
    text-align: center;
    height: 65%;
    display: flex; /* add display flex to enable flexbox */
    flex-direction: column; /* set the direction of the flexbox to column */
    justify-content: center; /* center the items vertically */
    align-items: center; /* center the items horizontally */
}

.mid button {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px auto; /* increase the distance between buttons */
    font-size: 24px;
    cursor: pointer;
    display: block; 
    padding: 15px 30px; /* increase the padding to make the buttons bigger */
}

  .bottom {
    background-color: #f2f2f2;
    text-align: center;
    height: 15%;
  }
  
